<div class="w-full min-h-screen grid place-items-center p-4">
  <div class="flex flex-col gap-4 p-5 bg-zinc-800 rounded-2xl w-full max-w-lg">
    <h1
      class="text-5xl leading-tight font-black from-pink-400 via-purple-500 to-indigo-600 bg-gradient-to-tr inline-block self-center bg-clip-text text-transparent"
    >
      {{ title }}
    </h1>
    <form
      class="flex flex-col gap-2"
      (submit)="addTodo($event, newTodo.value); newTodo.value = ''"
    >
      <label for="addTodo" class="text-center text-zinc-500">
        What would you like to do?
      </label>
      <div class="input">
        <input #newTodo type="text" placeholder="Add a todo..." id="addTodo" />
        <div class="gr"></div>
        <button>+</button>
      </div>
    </form>
    @if (todos.length) {
    <div class="flex flex-col gap-2">
      @for(todo of todos; track todo.title) {
      <app-item
        (remove)="removeTodo(todo)"
        [item]="todo"
        (save)="saveToLocalStorage()"
      ></app-item>
      }
    </div>
    } @else {
    <div class="p-4 text-3xl font-semibold text-center opacity-30">
      no todos yet...
    </div>
    }
  </div>
</div>
